<!DOCTYPE html>


<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout}">

<head>
	<title>IThinkUPC WEB</title>
</head>

<body>
<div class="container" layout:fragment="content">
	<div class="jumbotron">
		<div class="container">
			<h2>Bienvenido a IThinkUPC WEB</h2>
			<p>Somos la empresa de consultoría y servicios digitales avanzados de la Universitat Politècnica de Catalunya.</p>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Nuestra misión</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>Creamos soluciones y servicios digitales avanzados que ayudan a las organizaciones
							a ser más competitivas mejorando la sociedad.</li>
						<li>Desarrollamos a las personas de nuestro equipo para que sean las y los líderes tecnológicos
							del futuro. Lo hacemos en un buen ambiente de trabajo y con condiciones flexibles.</li>
						<li>Somos una empresa ágil que ofrece a todas las personas que forman parte de nuestro equipo</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Valores</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>Nos gusta lo que hacemos y mostramos iniciativa y pasión por evolucionar,
							crecer, aprender, contribuir a los cambios que nos permiten mejorar.</li>
						<li>Definimos bien los objetivos y actuamos con autonomía para conseguirlos.
							porque confiamos en la responsabilidad de todas las personas con las que trabajamos</li>
						<li>Lo hacemos claro. Lo hacemos simple. Nos importa cómo sintetizamos y presentamos
							nuestras ideas, las propuestas y las soluciones.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>
